

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Search - {{_officeType}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1" style="background-color:#EEF4F7;">
  
  <form id="search-form11" [formGroup]="myFormSearch" (ngSubmit)="searchUser()">
    <ion-searchbar placeholder="Search Student ID#"  formControlName="searchStd" name="" id="search-search2"></ion-searchbar>
  </form>
  
  <ion-list [hidden]="_stdData.visible" id="search-list10" class="searchlist-main">
    <ion-item>
      <ion-label>Sem/Year</ion-label>
      <ion-select [(ngModel)]="selectedSem" (ionChange)="selectedSemFunc()" multiple="false" okText="Okay!">
        
        <ion-option value="1" selected="true">1st</ion-option>
        <ion-option value="2">2nd</ion-option>
        <ion-option value="3">Summer</ion-option>
      </ion-select>
      <ion-select  [(ngModel)]="selectedYear"  (ionChange)="selectedYearFunc()" multiple="false" okText="OK"></ion-select>
    </ion-item>
    <ion-item color="positive" id="search-list-item21">
      <ion-thumbnail item-left>
        <img src="assets/img/default-user-image.png" />
      </ion-thumbnail>
     
      <h2>
        ID#:{{_stdData.id}}
      </h2>
      <h5>
        {{_stdData.fname}} {{_stdData.mname}} {{_stdData.lname}}
      </h5>
      <h5>
        {{_stdData.course}}-{{_stdData.year}}
      </h5>

    </ion-item>
  </ion-list>
  <ion-list [hidden]="_stdData.visible" id="search-list11" class="searchlist-main">
    <ion-item id="search-list-item-container4">
      <div id="search-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          Note:{{_stdData.note}}
          <strong>
            
          </strong>
        </p>
      </div>
    </ion-item>
  </ion-list>
  <form [formGroup]="mySearchToggle2" [hidden]="_stdData.visible" id="search-form10">
    <ion-item id="search-toggle11">
      <ion-label>
        
        <span *ngIf="_stdData.clearance==0" style="color: #555555"> 
          Uncleared
        </span>
        <span *ngIf="_stdData.clearance==1" style="color:green"> 
          Cleared
        </span>
      </ion-label>
      <!-- <ion-toggle color="positive" [checked]="_stdData.clearance"></ion-toggle> -->
       <ion-toggle formControlName="clearanceToggle" on-click="searchClearedtoggled()" color="positive" [checked]="_stdData.clearance"></ion-toggle> 
      <!-- <ion-toggle [(ngModel)]="dataObject"></ion-toggle> -->
    </ion-item>
  </form>
</ion-content>