 <!-- <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/img/splashscreen2.jpg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>  -->
<ion-header>
  <ion-navbar>
    <!-- <ion-title>
      Login2
    </ion-title> -->
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/mFwHRHgBQQCVKAiNpRrD_menu_bg.png) no-repeat center;background-size:cover;" id="page4">
  <div>
    <img src="assets/img/KOqJ8enETWyB2nHhD3YC_app_logo.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>

  <form id="login-form1" [formGroup]="myForm" (ngSubmit)="verifyUser()">
    <ion-list id="login-list5">
      <ion-item id="login-input1">
        <!-- <ion-label>
          Email
        </ion-label> -->
        <!-- <ion-input [(ngModel)]="loginData.email" name="email" type="email" placeholder="username" required></ion-input> -->
        <ion-input [(class.invalid)]="!myForm.controls.idnum.valid" [(class.valid)]="myForm.controls.idnum.valid" formControlName="idnum" name="idnum" type="number" placeholder="ID number" required></ion-input>
      </ion-item>
      <ion-item id="login-input2">
        <!-- <ion-label>
          Password
        </ion-label> -->
        <!-- <ion-input [(ngModel)]="loginData.password" name="password" type="password" placeholder="password" required></ion-input> -->
        <ion-input [(class.invalid)]="!myForm.controls.password.valid" [(class.valid)]="myForm.controls.password.valid" formControlName="password" name="password" type="password" placeholder="password" required></ion-input>
      </ion-item>
    </ion-list>
    <div id="login-markdown8" class="show-list-numbers-and-dots error-box">
      <p *ngIf="errors.errorCheck"  style="color:#ff0000;">{{errors.message}}</p>
      <!-- <p [hidden]="myForm.controls.password.valid" style="color:#ff0000;">Check password</p> -->
    </div>
    <!-- <div class="spacer" style="height:40px;" id="login-spacer1"></div> -->
    <button id="login-button2" ion-button color="stable" block>
      <ion-icon name="unlock"></ion-icon>
      &nbsp; Log in
    </button>
    <!-- <button id="login-button3" ion-button clear color="positive" block on-click="verifyUser()">
      Or create an account
    </button> -->
  </form>
</ion-content>