<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add/Update student sdfsd
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" style="background-color:#EEF4F7;">
  <ion-card id="addUpdateStudent-card23">
    <ion-list>
      
      <ion-row >
        <p><br></p>
        <ion-col>
          <div id="addUpdateStudent-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <strong>
                Add/Update
              </strong>
              students that are not listed on our database
            </p>
          </div>
        </ion-col> 
      </ion-row>
      <ion-item id="addUpdateStudent-toggle12">
          <ion-label>
            Add/Update
          </ion-label>
          <ion-toggle color="positive" [(ngModel)]="toggleValue" on-click="addUpdateStudentp()" checked="false"></ion-toggle>
      </ion-item>  
      <!-- <form id="addUpdateStudent-form12">
        
      </form> -->
      <ion-item color="none" id="addUpdateStudent-list-item30">
        <ion-avatar item-left>
          <img src="assets/img/MUG8BMbsRjKcWsy1pK7f_cat_avatar.png" />
        </ion-avatar>
      </ion-item>
    
      <form id="addUpdateStudent-form8" [formGroup]="addStudentForm">
        <ion-row >
            <ion-col col-8>
                 <ion-input ng-enter="updateStudentSearch()" [(ngModel)]="updateAddDate.id" formControlName="addUserid" name="id" type="number" placeholder="ID#"></ion-input>
            </ion-col>
            <!-- <ion-col col-8>
                 <ion-input *ngIf="updateBtn" ng-enter="updateStudentSearch()" [(ngModel)]="updateAddDate.id" formControlName="addUserid" name="id" type="number" placeholder="ID#"></ion-input>
            </ion-col> -->
            <ion-col col-4 *ngIf="!addBtn">
               <button  id="addUpdateStudent-button5"  ion-button round color="positive" >
                <ion-icon name="search" block on-click="updateStudentSearch()"></ion-icon>
              </button>
              <!-- <ion-input [(ngModel)]="updateAddDate.id" formControlName="addUserid" name="id" type="number" placeholder="ID#"></ion-input> -->
            </ion-col>
        </ion-row>

        <ion-row >
            <ion-col>
                 <ion-input [(ngModel)]="updateAddDate.fname" formControlName="addUserfname" name="fname" type="text" placeholder="First Name"></ion-input>
            </ion-col>
           
        </ion-row>
          <ion-row >
            <ion-col>
              <ion-input [(ngModel)]="updateAddDate.mname" name="mname" formControlName="addUsermname" type="text" placeholder="Middle Name"></ion-input>           
             </ion-col>
        </ion-row>
          <ion-row >
            <ion-col>
              <ion-input [(ngModel)]="updateAddDate.lname" name="lname" formControlName="addUserlname" type="text" placeholder="Last Name"></ion-input>            
            </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="updateAddDate.lname" name="lname" formControlName="addUserlname" type="text" placeholder="Last Name"></ion-input>            
          </ion-col>
        </ion-row> -->

        <!-- <ion-item id="addUpdateStudent-input10">
          
        </ion-item> -->
         <!-- <ion-row >
            <ion-col>  -->
              <ion-item>
                <ion-select [(ngModel)]="courseSelected" formControlName="addUsercourse" (ionChange)="courseSelectedFunc()" multiple="false" name="selectCourse" okText="OK" >
                  <ion-option *ngFor="let course of courses" value="{{course}}">{{course}}</ion-option>
                </ion-select>
              <!-- </ion-col>
              <ion-col >  -->
                <ion-select *ngIf="!toggleValue" [(ngModel)]="orgSelected" formControlName="addUserorg" (ionChange)="orgSelectedFunc()" multiple="false" name="selectOrg" okText="OK" >
                  <ion-option *ngFor="let org of orgs" value="{{org}}">{{org}}</ion-option>
                </ion-select>
              <!-- </ion-col>
              <ion-col>  -->
                <ion-select  [(ngModel)]="yearSelected" name="yearSelected" formControlName="addUseryear" multiple="false" okText="OK">
                  <ion-option selected="true" value="1">1</ion-option>   
                  <ion-option value="2">2</ion-option>   
                  <ion-option value="3">3</ion-option>   
                  <ion-option value="4">4</ion-option>   
                  <ion-option value="5">5</ion-option>   
                </ion-select>  
              </ion-item>
             <!-- </ion-col> 
        </ion-row>  -->
        <!-- <ion-item id="addUpdateStudent-input11"> -->
          <!-- <ion-label></ion-label> -->
          <!-- <ion-input [(ngModel)]="updateAddDate.year" name="year" type="number" placeholder="Year"></ion-input> -->
        <!-- </ion-item> -->
        <!-- <div class="spacer" style="width:300px;height:18px;" id="addUpdateStudent-spacer10"></div> -->
        <button *ngIf="addBtn" id="addUpdateStudent-button5"  ion-button color="positive" block on-click="addStudent()">
          {{btnName}}
        </button>
        <button *ngIf="updateBtn" id="addUpdateStudent-button5"  ion-button color="positive" block >
          {{btnName}}
        </button>
      </form>
    </ion-list>
  </ion-card>
  
</ion-content>
