<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Student
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8" style="background-color:#EEF4F7;">
  <ion-list id="student-list8">
    <ion-item color="positive" id="student-list-item31">
      <ion-thumbnail item-left>
        <img src="assets/img/default-user-image.png" />
      </ion-thumbnail>
      <h2>
        ID#: {{_stdId}}
      </h2>
    </ion-item>

    <ion-item>
      <ion-label>Sem/Year</ion-label>
      <ion-select [(ngModel)]="selectedSem" (ionChange)="selectedSemFunc()" multiple="false" okText="Okay!">
        
        <ion-option value="1" selected="true">1st</ion-option>
        <ion-option value="2">2nd</ion-option>
        <ion-option value="3">Summer</ion-option>
      </ion-select>
      <ion-select  [(ngModel)]="selectedYear"  (ionChange)="selectedYearFunc()" multiple="false" okText="OK">
         <!-- <ion-option value="1990" selected="true">1990</ion-option>   -->
           <!-- <ion-option  *ngFor="let year of yearArray; let x=index" value="year" selected="false">{{year}}</ion-option>     -->
           <ion-option selected="yearBool" value="1990" selected="true">1990</ion-option>   
          <ion-option selected="yearBool" value="1991" selected="false">1991</ion-option>
          <ion-option selected="yearBool" value="1992" selected="false">1992</ion-option>
          <ion-option selected="yearBool" value="1993" selected="false">1993</ion-option>
          <ion-option selected="yearBool" value="1994" selected="false">1994</ion-option>
          <ion-option selected="yearBool" value="1995" selected="false">1995</ion-option>
          <ion-option selected="yearBool" value="1996" selected="false">1996</ion-option>
           <ion-option selected="yearBool" value="1997" selected="false">1997</ion-option>
          <ion-option selected="yearBool" value="1998" selected="false">1998</ion-option>
          <ion-option selected="yearBool" value="1999" selected="false">1999</ion-option>
          <ion-option selected="yearBool" value="2000" selected="false">2000</ion-option>
          <ion-option selected="yearBool" value="2001" selected="false">2001</ion-option>
          <ion-option selected="yearBool" value="2002" selected="false">2002</ion-option> 
          <ion-option selected="yearBool" value="2003" selected="false">2003</ion-option>
          <ion-option selected="yearBool" value="2004" selected="false">2004</ion-option>
          <ion-option selected="yearBool" value="2005" selected="false">2005</ion-option>
          <ion-option selected="yearBool" value="2006" selected="false">2006</ion-option>
          <ion-option selected="yearBool" value="2007" selected="false">2007</ion-option>
          <ion-option selected="yearBool" value="2008" selected="false">2008</ion-option> 
          <ion-option selected="yearBool" value="2009" selected="false">2009</ion-option>
          <ion-option selected="yearBool" value="2010" selected="false">2010</ion-option>
          <ion-option selected="yearBool" value="2011" selected="false">2011</ion-option>
          <ion-option selected="yearBool" value="2012" selected="false">2012</ion-option>
          <ion-option selected="yearBool" value="2013" selected="false">2013</ion-option>
          <ion-option selected="yearBool" value="2014" selected="false">2014</ion-option> 
          <ion-option selected="yearBool" value="2015" selected="false">2015</ion-option>
          <ion-option selected="yearBool" value="2016" selected="false">2016</ion-option>
          <ion-option selected="yearBool" value="2017" selected="false">2017</ion-option>    
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list id="student-list9">
    <ion-item id="student-toggle4">
      <ion-label>
        Library
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.library" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
    <ion-item id="student-toggle5">
      <ion-label>
        SAWO
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.sawo" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
    <ion-item id="student-toggle6">
      <ion-label>
        Student Organization
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.org" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
    <ion-item id="student-toggle7">
      <ion-label>
        Assessment
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.assessement" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
    <ion-item id="student-toggle8">
      <ion-label>
        Chairman
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.chairman" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
    <ion-item id="student-toggle9">
      <ion-label>
        Dean
      </ion-label>
      <ion-toggle color="positive" [checked]="_stdData.dean" (click)="toggleDisable()" [disabled]="_toggleController"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>