<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Xlist 
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#EEF4F7;">
  <div id="xlist-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
    <ion-item>
      <p style="color:#000000;font-size:16px; text-align: center;">
        List of
      <strong>
        uncleared
      </strong>
        students from the <br> {{officeName}}'s office
      <br/>
      </p>
    </ion-item>
    
      <ion-item>
      <ion-label>Sem/Year</ion-label>
      <ion-select [(ngModel)]="selectedSem" (ionChange)="selectedSemFunc()" multiple="false" okText="OK">
        
        <ion-option value="1" selected="true">1st</ion-option>
        <ion-option value="2">2nd</ion-option>
        <ion-option value="3">Summer</ion-option>
      </ion-select>
      <ion-select  [(ngModel)]="selectedYear"  (ionChange)="selectedYearFunc()" multiple="false" okText="OK">
         <!-- <ion-option value="1990" selected="true">1990</ion-option>   -->
           <!-- <ion-option  *ngFor="let year of yearArray; let x=index" value="year" selected="false">{{year}}</ion-option>     -->
           <ion-option selected="yearBool" value="1990" selected="true">1990</ion-option>   
          <ion-option selected="yearBool" value="1991" selected="false">1991</ion-option>
          <ion-option selected="yearBool" value="1992" selected="false">1992</ion-option>
          <ion-option selected="yearBool" value="1993" selected="false">1993</ion-option>
          <ion-option selected="yearBool" value="1994" selected="false">1994</ion-option>
          <ion-option selected="yearBool" value="1995" selected="false">1995</ion-option>
          <ion-option selected="yearBool" value="1996" selected="false">1996</ion-option>
           <ion-option selected="yearBool" value="1997" selected="false">1997</ion-option>
          <ion-option selected="yearBool" value="1998" selected="false">1998</ion-option>
          <ion-option selected="yearBool" value="1999" selected="false">1999</ion-option>
          <ion-option selected="yearBool" value="2000" selected="false">2000</ion-option>
          <ion-option selected="yearBool" value="2001" selected="false">2001</ion-option>
          <ion-option selected="yearBool" value="2002" selected="false">2002</ion-option> 
          <ion-option selected="yearBool" value="2003" selected="false">2003</ion-option>
          <ion-option selected="yearBool" value="2004" selected="false">2004</ion-option>
          <ion-option selected="yearBool" value="2005" selected="false">2005</ion-option>
          <ion-option selected="yearBool" value="2006" selected="false">2006</ion-option>
          <ion-option selected="yearBool" value="2007" selected="false">2007</ion-option>
          <ion-option selected="yearBool" value="2008" selected="false">2008</ion-option> 
          <ion-option selected="yearBool" value="2009" selected="false">2009</ion-option>
          <ion-option selected="yearBool" value="2010" selected="false">2010</ion-option>
          <ion-option selected="yearBool" value="2011" selected="false">2011</ion-option>
          <ion-option selected="yearBool" value="2012" selected="false">2012</ion-option>
          <ion-option selected="yearBool" value="2013" selected="false">2013</ion-option>
          <ion-option selected="yearBool" value="2014" selected="false">2014</ion-option> 
          <ion-option selected="yearBool" value="2015" selected="false">2015</ion-option>
          <ion-option selected="yearBool" value="2016" selected="false">2016</ion-option>
          <ion-option selected="yearBool" value="2017" selected="false">2017</ion-option>    
      </ion-select>
    </ion-item>
  
  </div>
  <div class="spacer" style="width:300px;height:13px;" id="xlist-spacer4"></div>
  <ion-list id="xlist-list7" *ngFor="let list of xlist">
    <ion-item-sliding >
      <ion-item color="none" id="xlist-list-item23">
        <ion-avatar item-left>
          <img src="assets/img/blank_person.jpg" />
        </ion-avatar>
        <h2>
           ID#{{list.usr_acc_id}} 
        </h2>
        <span style="font-size: .9em"><ion-icon name="list-box"></ion-icon> {{list.usr_note}}</span>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="positive"></button>
        <button ion-button color="positive"></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>