<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title *ngIf="admin"> -->
      <ion-list *ngIf="admin">
        <ion-item>
           
          <p>Admin</p>
          <p>Office: {{officeInfo[0]["sng_name"]}}</p>
        </ion-item>
      </ion-list>
    
          
      <!-- </ion-title> -->
      <!-- <ion-list *ngIf="admin">
        
        <ion-item>
          
        </ion-item>
         <h4 class="content" > <br /></h4>  -->
      <!-- </ion-list>     -->
      <ion-title *ngIf="student">
        Student 
      </ion-title>
        
    
      <!-- <ion-content *ngIf="admin"> -->
        
      <!-- </ion-content> -->
      
    </ion-toolbar>
  </ion-header>
  <ion-content style="background:url(assets/img/uHL3AVIQQsyefbMovW4G_menu_bg.png) no-repeat center;background-size:cover;background-color:#EEF4F7;" id="side-menu21">
    <ion-list id="menu-list1">
      <ion-item color="none" menuClose="" on-click="goToSearch()" id="menu-list-item2" *ngIf="admin">
        Search
        <ion-icon name="search" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToXlist()" id="menu-list-item3" *ngIf="admin">
        Xlist
        <ion-icon name="list-box" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToAddUpdateStudent()" id="menu-list-item18" *ngIf="admin">
        Student list update
        <ion-icon name="list" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToStudent()" id="menu-list-item36" *ngIf="student">
        Student Clearance
        <ion-icon name="list" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="logout()" id="menu-list-item17">
        Logout
        <ion-icon name="exit" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>