

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{officeName }} Search #ID: {{officeId}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1" style="background-color:#EEF4F7;">
  
  <form id="search-form11" [formGroup]="myFormSearch" (ngSubmit)="searchUser()">
    <ion-searchbar placeholder="Search Student ID#"  formControlName="searchStd" name="" id="search-search2"></ion-searchbar>
  </form>
  
  <ion-list [hidden]="_stdData.visible" id="search-list10" class="searchlist-main">
    <ion-item>
      <ion-label>Sem/Year</ion-label>
      <ion-select [(ngModel)]="selectedSem" (ionChange)="selectedSemFunc()" multiple="false" okText="OK">
        
        <ion-option value="1" selected="true">1st</ion-option>
        <ion-option value="2">2nd</ion-option>
        <ion-option value="3">Summer</ion-option>
      </ion-select>
      <ion-select  [(ngModel)]="selectedYear"  (ionChange)="selectedYearFunc()" multiple="false" okText="OK">
         <!-- <ion-option value="1990" selected="true">1990</ion-option>   -->
           <!-- <ion-option  *ngFor="let year of yearArray; let x=index" value="year" selected="false">{{year}}</ion-option>     -->
           <ion-option selected="yearBool" value="1990" selected="true">1990</ion-option>   
          <ion-option selected="yearBool" value="1991" selected="false">1991</ion-option>
          <ion-option selected="yearBool" value="1992" selected="false">1992</ion-option>
          <ion-option selected="yearBool" value="1993" selected="false">1993</ion-option>
          <ion-option selected="yearBool" value="1994" selected="false">1994</ion-option>
          <ion-option selected="yearBool" value="1995" selected="false">1995</ion-option>
          <ion-option selected="yearBool" value="1996" selected="false">1996</ion-option>
           <ion-option selected="yearBool" value="1997" selected="false">1997</ion-option>
          <ion-option selected="yearBool" value="1998" selected="false">1998</ion-option>
          <ion-option selected="yearBool" value="1999" selected="false">1999</ion-option>
          <ion-option selected="yearBool" value="2000" selected="false">2000</ion-option>
          <ion-option selected="yearBool" value="2001" selected="false">2001</ion-option>
          <ion-option selected="yearBool" value="2002" selected="false">2002</ion-option> 
          <ion-option selected="yearBool" value="2003" selected="false">2003</ion-option>
          <ion-option selected="yearBool" value="2004" selected="false">2004</ion-option>
          <ion-option selected="yearBool" value="2005" selected="false">2005</ion-option>
          <ion-option selected="yearBool" value="2006" selected="false">2006</ion-option>
          <ion-option selected="yearBool" value="2007" selected="false">2007</ion-option>
          <ion-option selected="yearBool" value="2008" selected="false">2008</ion-option> 
          <ion-option selected="yearBool" value="2009" selected="false">2009</ion-option>
          <ion-option selected="yearBool" value="2010" selected="false">2010</ion-option>
          <ion-option selected="yearBool" value="2011" selected="false">2011</ion-option>
          <ion-option selected="yearBool" value="2012" selected="false">2012</ion-option>
          <ion-option selected="yearBool" value="2013" selected="false">2013</ion-option>
          <ion-option selected="yearBool" value="2014" selected="false">2014</ion-option> 
          <ion-option selected="yearBool" value="2015" selected="false">2015</ion-option>
          <ion-option selected="yearBool" value="2016" selected="false">2016</ion-option>
          <ion-option selected="yearBool" value="2017" selected="false">2017</ion-option>    
      </ion-select>
    </ion-item>
    <ion-item color="positive" id="search-list-item21">
      <ion-thumbnail item-left>
        <img src="assets/img/default-user-image.png" />
      </ion-thumbnail>
     
      <h2>
        ID#:{{_stdData.id}}
      </h2>
      <h5>
        {{_stdData.fname}} {{_stdData.mname}} {{_stdData.lname}}
      </h5>
      <h5>
        {{_stdData.course}}-{{_stdData.year}}
      </h5>

    </ion-item>
  </ion-list>
  <ion-list [hidden]="_stdData.visible" id="search-list11" class="searchlist-main">
    <ion-item id="search-list-item-container4">
      <div id="search-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          Note:{{_stdData.note}}
          <strong>
            
          </strong>
        </p>
      </div>
    </ion-item>
  </ion-list>

  <!-- <form [formGroup]="mySearchToggle2" [hidden]="_stdData.visible" id="search-form10">
    <ion-item id="search-toggle11">
      <ion-label>
        <span *ngIf="uncleared" style="color: #FF0000; font-size: .9em"> 
          Uncleared
        </span>
        <span *ngIf="cleared" style="color:green; font-size: .9em"> 
          Cleared
        </span>
      </ion-label>
       <ion-toggle [(ngModel)]="toggleClearance" formControlName="clearanceToggle" on-click="searchClearedtoggled()" color="positive" [checked]="_stdData.clearance"></ion-toggle> 
    </ion-item>
  </form> -->
  <ion-item id="search-toggle11">
      <ion-label>
        <span *ngIf="uncleared" style="color: #FF0000; font-size: .9em"> 
          Uncleared
        </span>
        <span *ngIf="cleared" style="color:green; font-size: .9em"> 
          Cleared
        </span>
      </ion-label>
       <ion-toggle [(ngModel)]="toggleClearance" on-click="searchClearedtoggled()" color="positive" [checked]="_stdData.clearance"></ion-toggle> 
    </ion-item>
      
    <ion-label>
      <span style="margin-top:0px;color:dimgray;font-size: .9em">{{clean}}</span>
    </ion-label>
  <ion-fab bottom right >
   <button ion-fab mini *ngIf="fabEnable" on-click="addTransactionBtnCtrl()"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>
</ion-content>
