<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5" style="background-color:#EEF4F7;">
  <form id="signup-form2">
    <ion-list id="signup-list6">
      <ion-item id="signup-input3">
        <ion-label>
          Name
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input5">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <button id="signup-button4" ion-button color="stable" block style="color:#1A90E7;" on-click="goToLogin()">
      Sign up
    </button>
  </form>
</ion-content>